node_modules
.env
frontend/.env
coverage
coverage.json
typechain-types
gas-report.txt

# Hardhat files
cache
artifacts

# Frontend build
frontend/dist
frontend/node_modules

# Test results
test-results-*.json
deploy.log
